h1 
{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: 0.7px;
    margin: 0 0 10px;
    color: #453c90;
}

h3 
{
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: 0.7px;
    margin: 0 0 10px;
    color: #453c90;
}